.schedule-container{
    margin: 20px 0px 20px 0px;
}

.schedule-title-left{
    background-color: #bfb8e9;
    height: auto;
    width: 75%;
    padding: 5px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}

.schedule-grid-left{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    text-align: left;
}

.schedule-bar-left{
    margin-left: 20px;
    background-color: #bfb8e9;
    height: auto;
    width: 10px;
}

.schedule-contents-left{
    margin-left: 50px;
    margin-top: 20px;
}

.schedule-contents-right{
    margin-left: 50px;
    margin-top: 20px;
}

.accordion-left{
    display: flex;  
    align-items: flex-start;
}

.accordion-right{
    display: flex;
    justify-content: flex-end;  
}

.acc-right{
    text-align: right;
}

.schedule-container-right{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.schedule-title-right{
    background-color: #8eb1df;
    height: auto;
    width: 75%;
    padding: 5px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    margin-left: auto;
}

.schedule-grid-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    text-align: right;
}

.schedule-bar-right{
    margin: 0px 20px 0px 50px;
    background-color: #8eb1df;
    height: auto;
    width: 10px;
}

@media only screen and (max-width: 600px) {

    .schedule-contents{
        margin-left: 20px;
        margin-top: 20px;
    }

    .schedule-bar-right{
        margin: 0px 20px 0px 20px;
        background-color: #8eb1df;
        height: auto;
        width: 10px;
    }
    
    .schedule-contents-right{
        margin-left: 20px;
        margin-top: 20px;
    }
  } 
