/* ELEMENT STYLES */

body{
  background-color: black;
  font: Inter;
}

gradientFont{
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
  background-clip: text;
  color: transparent;
  font-size: 100px;
  font-weight:900;
}

gradient-large{
  display: inline-block;
  vertical-align: baseline;
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
  background-clip: text;
  color: transparent;
  font-size: 60px;
  font-weight: 900;
}

gradient-medium{
  display: inline-block;
  vertical-align: baseline;
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 900;
}

gradient-small{
  display: inline-block;
  vertical-align: baseline;
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 900;
}

purple {
  color: #bfb8e9;
  font-weight: bold;
}

blue {
  color: #8eb1df;
  font-weight: bold;
}

paragraph {
  font-size: 20px;
  line-height: 2;
}

bold {
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:white;
}

.glass {
  max-width: 500px;
  padding: 100px;
  background: linear-gradient(45deg, rgba(191, 184, 233, .3) 30%, rgba(142, 177, 223, .3));
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, .2);
  box-shadow: inset 5px 5px 10px 0px rgba(255, 255, 255, .4), inset -5px -5px 10px 0px rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
}

button {
  border-radius: 100px;
  background-image: linear-gradient(45deg, #D6AFD4 30%, white);
  background: linear-gradient(90deg, #bfb8e9, transparent) #8eb1df;
  color: white;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

button:hover {
  background-color: #D6AFD4;
  color: white;
}

.circle {
  max-height: auto;
  max-width: 250px;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.circle:hover .textOverlay {
  opacity: 1;
}

.textOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(45deg, rgba(191, 184, 233, .8) 30%, rgba(142, 177, 223, .8));
}

.circle img {
  display: block;
  width: 105%;
  height: auto;
}

/*  PAGE STYLES */

.title{
  text-align: center;
}

.centered-container{
  margin: 200px 50px 200px 50px;
  text-align: center;
  justify-content: center;
}

.page-container{
  margin: 200px 50px 200px 50px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.align-right {
  flex-direction: row-reverse;
}

.inner-text{
  margin: 0px 300px 0px 300px;
}

.landingPage{
  text-align: center;
  height: 200px;
  padding: 300px;
}

.landingPage img{
  width: 30%;
  min-width: 250px;
}

.content {
  padding: 200px;
  color: white;
}

.leftJustified {
  width: 60%;
  padding-bottom: 100px;
}

.rightJustified {
  text-align: right;
  padding-bottom: 100px;
}

.centre {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.page-starter-container{
  margin: 100px 50px 100px 50px;
  text-align: center;
  justify-content: center;
}

.starter-bubbles-right{
  position: absolute;
  top: 500px;
  right: 0px;
  width: 20%;
  min-width:60px;
}

.home-starter-bubbles-right{
  position: absolute;
  top: 300px;
  right: 0px;
  max-width: 25%;
  z-index: 0;
}

.home-starter-bubbles-left{
  position: absolute;
  top: 150px;
  left: 0px;
  max-width: 25%;
  z-index: 0;
}

.glassBubble {
  position: absolute;
  right: 0px;
  max-width: 55%;
  z-index: 0;
}

.bubbles-left{
  position: absolute;
  left: 0px;
  max-width: 25%;
}

.bubbles-right{
  position: absolute;
  right: 0px;
  max-width: 25%;
}

.footer-bubbles-left{
  position: absolute;
  left: 0px;
  max-width: 25%;
  bottom: 0;
  margin-bottom: -150px
}

.registerRight{
  margin-top: -180px;
  max-width: 24%;
}

.lower500{
  margin-top: 500px;
}

.lower1000{
  margin-top: 1000px;
}

.lower1500{
  margin-top: 2000px;
}

.lower2500{
  margin-top: 2800px;
}

.section{
  position: relative;
  padding-bottom:100px;
  z-index: 1;
}


/*  NAVIGATION */

.navbar {
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: flex-start !important;
}

.navbar-toggler{
  margin-top: 20px;
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
}

.nav-link {
  margin: 10px;
  color: white !important;
  padding: 30px 10px 20px 10px;
  float: right;
  font: Inter;
  font-weight: bold;
  z-index: 1;
}

.nav-link:hover {
  background-image: linear-gradient(45deg, #bfb8e9 30%, #8eb1df);
  background-clip: text;
  color: transparent !important;
}

.nav-button{
  border-radius: 100px !important;
  background-image: linear-gradient(45deg, #D6AFD4, white);
  background: linear-gradient(90deg, #bfb8e9, transparent) #8eb1df !important;
  margin: 30px 10px 20px 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  transition: 0.3s;
  font-weight: bolder;
  max-width: 150px;
}

.nav-button:hover {
  background-color: #D6AFD4 !important;
  color: white !important;
}

.navbar-logo{
  max-width: 200px;
  width:20%;
  top: 0px;
  left: 20px;
  position: absolute;
}

.icons{
  position: absolute;
  left: 0;
  margin-left: 50px;
  margin-top: -60px;
}

svg{
  stroke: white !important;
  fill: white !important;
  width: 30px;
}

.social-link {
  float: right;
  color: white;
  margin: 10px 20px 10px 20px;
  
}

.social-link:hover{
  color: #bfb8e9;
  width: 30px;
}

.footer-body{
  position: absolute;
  width: 100%;
  padding: 10px;
  color: white;
  display: flex !important;
  flex-direction: column !important;
  margin-top: auto !important;
  z-index: 1;
  background: linear-gradient(45deg, rgba(191, 184, 233, .3) 30%, rgba(142, 177, 223, .3));
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, .2);
  box-shadow: inset 5px 5px 10px 0px rgba(255, 255, 255, .4), inset -5px -5px 10px 0px rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
  
}

.footer-left-container{
  width: 50%;
}

.footer-right-container{
  max-height: 200px !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-logo{
  width: 20%;
  min-width: 200px;
  margin: -30px 0px -30px 0px;
}

.footer-logo-club{
  width: 40%;
  min-width: 50px;
  padding: 0px 20px 0px 20px;
}

.footer-clubs{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.footer-top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-bottom-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* REGISTRATION PAGE */

.regPageTitle{
  text-align: center;
  height: 200px;
  padding: 0px 300px 0px 300px;
}

.regPageSocials{
  padding-top: 260px;
}

.regPageTitle img{
  width: 30%;
  min-width: 250px;
}

.reg-icons{
  position: absolute;
  left: 0;
  margin-left: 50px;
  margin-top: -100px;
}

.registerPageBody {
  position: relative;
  margin: 0px 0px 200px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.reg-button {
  border-radius: 100px;
  background-image: linear-gradient(45deg, #D6AFD4 30%, white);
  background: linear-gradient(90deg, #bfb8e9, transparent) #8eb1df;
  color: white;
  padding: 10px 50px 10px 50px;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.reg-button:hover {
  background-color: #D6AFD4;
  color: white;
}

.reg-button a {
  color: white;
}

/* CONTACT FORM */

.contact-container{
  margin: 0px 300px 200px 300px;
  color: transparent;
}

.input-field{
  position: absolute;
  color: white !important;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(191, 184, 233, .3) 30%, rgba(142, 177, 223, .3));
  background-color: rgba(255, 255, 255, .3);
  box-shadow: inset 5px 5px 10px 0px rgba(255, 255, 255, .4), inset -5px -5px 10px 0px rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, .25) !important;
  z-index: 1;
}


.contact-button{
  border-radius: 100px !important;
  background-image: linear-gradient(45deg, #D6AFD4, white);
  background: linear-gradient(90deg, #bfb8e9, transparent) #8eb1df !important;
  color: white;
  padding: 10px 50px 10px 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  font-weight: bold;
}

.contact-button:hover{
  background-color: #D6AFD4 !important;
  color: white;
}



/* RESPONSIVENESS */

@media only screen and (max-width:800px) {

  .landingPage{
    padding: 50px;
    padding-top: 200px;
    height: 500px;
  }

  .content {
    padding: 50px;
  }
  
  .glass {
    padding: 50px;
    margin: 1px;
  }

  .icons{
    width: 100%;
    margin: 0px;
    padding-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .vertical {
    display: block;
    padding: 30px;
    transition: 0.3s;
  }

  .regPageTitle{
    padding: 200px 50px 100px 50px;
  }

  .reg-icons{
    width: 100%;
    margin: 0px;
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .registerPageBody{
    margin-top: 100px;
  }

  .glass{
    margin: 20px;
  }

  .page-starter-container{
    margin-top: 70px;
  }

  .bubbles-left{
    position: absolute;
    left: 0px;
    width: 30%;
    z-index:0;
  }

  .bubbles-right{
    position: absolute;
    right: 0px;
    width: 30%;
    z-index:0;
  }

.inner-text{
  margin: 0px 20px 0px 20px;
}

.footer-logo-club{
  padding: 0px;
}

.leftJustified {
  width: 100%;
}

.glassBubble {
  width: 50%;
}

.social-link {
  float: right;
  color: white;
  text-decoration: none; 
  margin: 10px 5px 10px 5px;
}

}

@media only screen and (max-width: 1100px) {
  .reg-icons{
    width: 100%;
    margin-left: 0px;
    margin-top: -200px;
    position: relative;
    display: flex;
    justify-content: center;
  }
}
